<<<<<<< HEAD
body{
    margin-top: 40px;
    background: url(../img/system/bg.jpg);
=======
body{
    margin-top: 40px;
    background: url(../img/system/bg.jpg);
>>>>>>> refs/remotes/origin/main
}